In [1]:
import re
import joblib
from joblib import dump, load

import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

import sklearn
from sklearn.base import (
    BaseEstimator, 
    TransformerMixin
)

from imblearn.pipeline import Pipeline
from imblearn.under_sampling import RandomUnderSampler
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import (
    StandardScaler, 
    MinMaxScaler, 
    OrdinalEncoder, 
    LabelEncoder, 
    OneHotEncoder,
    PolynomialFeatures
)

from sklearn.feature_selection import (
    RFECV,
    SelectFromModel,
    SelectKBest,
    SequentialFeatureSelector
)

from sklearn.model_selection import (
    train_test_split,
    cross_val_score
)

from sklearn.ensemble import RandomForestClassifier

import sklearn.metrics as skmet

from sklearn.metrics import (
    accuracy_score, 
    precision_score, 
    recall_score, 
    f1_score,
    fbeta_score,
    roc_auc_score, 
    average_precision_score,
    confusion_matrix, 
    classification_report, 
    ConfusionMatrixDisplay, 
    RocCurveDisplay, 
    precision_recall_curve,
)

import yellowbrick.model_selection as ms

import xgboost
from xgboost import XGBClassifier
from hyperopt.pyll.base import scope
from hyperopt import (
    fmin, 
    tpe, 
    hp, 
    STATUS_OK, 
    Trials
)

from typing import (
    Any, 
    Dict, 
    Union, 
    Sequence
)

pd.set_option('display.max_columns', None)
pd.options.plotting.backend = 'matplotlib'

In [2]:
df = (pd
      .read_csv('Telco_customer_churn_adapted_v2.csv')
     )

In [3]:
def get_var(df, var_name):
    globals()[var_name] = df
    return df

In [4]:
label_encoder = LabelEncoder()
df = (df
      .rename(columns={'Churn Label': 'churn_label'})
      .assign(churn_label=lambda df_: label_encoder.fit_transform(df_.churn_label))
      .astype({'churn_label': 'int8'})
     )
df

,Customer ID,Tenure Months,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR),churn_label,Longitude,Latitude,CLTV (Predicted Thou. IDR)
0,0,2,Jakarta,Mid End,Yes,Yes,No,No,No,No,Digital Wallet,70.005,1,106.816666,-6.2,4210.7
1,1,2,Jakarta,High End,No,No,No,No,No,No,Pulsa,91.910,1,106.816666,-6.2,3511.3
2,2,8,Jakarta,High End,No,No,Yes,No,Yes,Yes,Pulsa,129.545,1,106.816666,-6.2,6983.6
3,3,28,Jakarta,High End,No,No,Yes,Yes,Yes,Yes,Pulsa,136.240,1,106.816666,-6.2,6503.9
4,4,49,Jakarta,High End,No,Yes,Yes,No,Yes,Yes,Debit,134.810,1,106.816666,-6.2,6942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,72,Jakarta,Low End,No internet service,No internet service,No internet service,No,No internet service,No internet service,Debit,27.495,0,106.816666,-6.2,6897.8
7039,7039,24,Jakarta,Mid End,Yes,No,Yes,Yes,Yes,Yes,Digital Wallet,110.240,0,106.816666,-6.2,2782.0
7040,7040,72,Jakarta,High End,No,Yes,Yes,No,Yes,Yes,Credit,134.160,0,106.816666,-6.2,7228.0
7041,7041,11,Jakarta,Mid End,Yes,No,No,No,No,No,Pulsa,38.480,0,106.816666,-6.2,3630.9
7042,7042,66,Jakarta,High End,Yes,No,Yes,Yes,Yes,Yes,Debit,137.345,0,106.816666,-6.2,6626.1

In [5]:
class TweakCustomerChurn(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):

        digital_product_cols = ['games_product', 'music_product', 'education_product', 'video_product']
        all_product_cols = ['games_product', 'music_product', 'education_product', 'video_product', 'call_center', 'use_myapp']
        
        return (X
                .rename(columns=lambda col: re.compile(r'[^a-zA-Z0-9_]+').sub('_', col.lower()))
                .assign(tenure_segmentation=lambda df_: np.where(df_.tenure_months < 4, "low", np.where(df_.tenure_months < 12, "medium", "high")),
                        any_digital_product=lambda df_: np.where((df_.games_product == "Yes") | (df_.music_product == "Yes") | (df_.education_product == "Yes") | (df_.video_product == "Yes"), 1, 0),
                        all_digital_product=lambda df_: np.where((df_.games_product == "Yes") & (df_.music_product == "Yes") & (df_.education_product == "Yes") & (df_.video_product == "Yes"), 1, 0),
                        total_digital_product_used=lambda df_: df_[digital_product_cols].apply(lambda row: sum(row == 'Yes'), axis=1),
                        total_product_utilisation=lambda df_: df_[all_product_cols].apply(lambda row: sum(row == 'Yes'), axis=1),
                        total_spending=lambda df_: df_.tenure_months.mul(df_.monthly_purchase_thou_idr_),
                        net_cltv_total_spending=lambda df_: df_.cltv_predicted_thou_idr_.sub(df_.total_spending)
                        ) 
                .astype({**{k: "int8"
                            for k in ["tenure_months", "any_digital_product", "all_digital_product", "total_digital_product_used", "total_product_utilisation"]},
                         **{k: "float16"
                            for k in ["monthly_purchase_thou_idr_", "cltv_predicted_thou_idr_", "total_spending", "net_cltv_total_spending"]},
                         **{k: "category"
                            for k in ["tenure_segmentation", "location", "device_class", "games_product", "music_product", "education_product", "call_center", "video_product", "use_myapp", "payment_method"]}})
                .reindex(columns=["churn_label", "tenure_months", "tenure_segmentation", "location", "device_class", "games_product", "music_product", "education_product", "video_product", "any_digital_product", "all_digital_product", "total_digital_product_used", "call_center", "use_myapp", "total_product_utilisation", "payment_method", "monthly_purchase_thou_idr_", "cltv_predicted_thou_idr_", "total_spending", "net_cltv_total_spending"])
               )

In [6]:
(TweakCustomerChurn()
 .transform(df)
)

,churn_label,tenure_months,tenure_segmentation,location,device_class,games_product,music_product,education_product,video_product,any_digital_product,all_digital_product,total_digital_product_used,call_center,use_myapp,total_product_utilisation,payment_method,monthly_purchase_thou_idr_,cltv_predicted_thou_idr_,total_spending,net_cltv_total_spending
0,1,2,low,Jakarta,Mid End,Yes,Yes,No,No,1,0,2,No,No,2,Digital Wallet,70.00000,4212.0,140.000,4070.00
1,1,2,low,Jakarta,High End,No,No,No,No,0,0,0,No,No,0,Pulsa,91.93750,3512.0,183.875,3328.00
2,1,8,medium,Jakarta,High End,No,No,Yes,Yes,1,0,2,No,Yes,3,Pulsa,129.50000,6984.0,1036.000,5948.00
3,1,28,high,Jakarta,High End,No,No,Yes,Yes,1,0,2,Yes,Yes,4,Pulsa,136.25000,6504.0,3814.000,2690.00
4,1,49,high,Jakarta,High End,No,Yes,Yes,Yes,1,0,3,No,Yes,4,Debit,134.75000,6944.0,6604.000,336.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,72,high,Jakarta,Low End,No internet service,No internet service,No internet service,No internet service,0,0,0,No,No internet service,0,Debit,27.50000,6896.0,1980.000,4920.00
7039,0,24,high,Jakarta,Mid End,Yes,No,Yes,Yes,1,0,3,Yes,Yes,5,Digital Wallet,110.25000,2782.0,2646.000,136.25
7040,0,72,high,Jakarta,High End,No,Yes,Yes,Yes,1,0,3,No,Yes,4,Credit,134.12500,7228.0,9656.000,-2432.00
7041,0,11,medium,Jakarta,Mid End,Yes,No,No,No,1,0,1,No,No,1,Pulsa,38.46875,3630.0,423.250,3208.00
7042,0,66,high,Jakarta,High End,Yes,No,Yes,Yes,1,0,3,Yes,Yes,5,Debit,137.37500,6628.0,9064.000,-2438.00

In [7]:
(TweakCustomerChurn()
 .transform(df)
 .loc[lambda df_: df_.churn_label==1]
 .iloc[:, 1:]
 .to_csv('churn_only.csv', index=False)
)

In [8]:
churn_only = (pd
              .read_csv('churn_only.csv')
             )
churn_only

,tenure_months,tenure_segmentation,location,device_class,games_product,music_product,education_product,video_product,any_digital_product,all_digital_product,total_digital_product_used,call_center,use_myapp,total_product_utilisation,payment_method,monthly_purchase_thou_idr_,cltv_predicted_thou_idr_,total_spending,net_cltv_total_spending
0,2,low,Jakarta,Mid End,Yes,Yes,No,No,1,0,2,No,No,2,Digital Wallet,70.00,4212.0,140.0,4070.0
1,2,low,Jakarta,High End,No,No,No,No,0,0,0,No,No,0,Pulsa,91.94,3512.0,183.9,3328.0
2,8,medium,Jakarta,High End,No,No,Yes,Yes,1,0,2,No,Yes,3,Pulsa,129.50,6984.0,1036.0,5948.0
3,28,high,Jakarta,High End,No,No,Yes,Yes,1,0,2,Yes,Yes,4,Pulsa,136.20,6504.0,3814.0,2690.0
4,49,high,Jakarta,High End,No,Yes,Yes,Yes,1,0,3,No,Yes,4,Debit,134.80,6944.0,6604.0,336.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,12,high,Jakarta,Mid End,No,No,No,Yes,1,0,1,Yes,No,2,Pulsa,77.75,5956.0,933.0,5024.0
1865,9,medium,Jakarta,Mid End,No,No,No,No,0,0,0,No,No,0,Debit,57.47,2638.0,517.0,2120.0
1866,1,low,Jakarta,High End,No,No,No,No,0,0,0,No,No,0,Pulsa,98.50,7244.0,98.5,7144.0
1867,67,high,Jakarta,High End,Yes,Yes,Yes,Yes,1,1,4,No,No,4,Credit,133.90,7304.0,8970.0,-1661.0
1868,4,medium,Jakarta,High End,No,No,No,No,0,0,0,No,No,0,Digital Wallet,96.75,7590.0,387.0,7204.0

In [9]:
standard_numerical_features = ['net_cltv_total_spending']
standard_numerical_transformer = Pipeline(steps=[
    ('scale', StandardScaler())
])

ohe_categorical_features = ['location', 'device_class', 'games_product', 'music_product', 'education_product', 'video_product', 'call_center', 'use_myapp', 'payment_method']
ohe_categorical_transformer = Pipeline(steps=[
    ('ohe', OneHotEncoder(handle_unknown='ignore', sparse_output=False, drop='first'))
])

orde_categorical_features = ['tenure_segmentation']
orde_categorical_transformer = Pipeline(steps=[
    ('orde', OrdinalEncoder(dtype='float'))
])

col_trans = ColumnTransformer(
    transformers=[
        ('standard_numerical_features', standard_numerical_transformer, standard_numerical_features),
        ('ohe_categorical_features', ohe_categorical_transformer, ohe_categorical_features),
        ('orde_categorical_features', orde_categorical_transformer, orde_categorical_features),
    ], 
    remainder='passthrough', 
    verbose=0, 
    verbose_feature_names_out=False,)

In [10]:
col_trans.fit_transform(TweakCustomerChurn().transform(churn_only).iloc[:, 1:])

array([[ 2.57568359e-01,  1.00000000e+00,  0.00000000e+00, ...,
         7.00000000e+01,  4.21200000e+03,  1.40000000e+02],
       [-2.89306641e-02,  1.00000000e+00,  0.00000000e+00, ...,
         9.19375000e+01,  3.51200000e+03,  1.83875000e+02],
       [ 9.79492188e-01,  1.00000000e+00,  0.00000000e+00, ...,
         1.29500000e+02,  6.98400000e+03,  1.03600000e+03],
       ...,
       [ 1.44042969e+00,  1.00000000e+00,  0.00000000e+00, ...,
         9.85000000e+01,  7.24400000e+03,  9.85000000e+01],
       [-1.95312500e+00,  1.00000000e+00,  0.00000000e+00, ...,
         1.33875000e+02,  7.30400000e+03,  8.96800000e+03],
       [ 1.46289062e+00,  1.00000000e+00,  0.00000000e+00, ...,
         9.67500000e+01,  7.59200000e+03,  3.87000000e+02]])

In [11]:
TweakCustomerChurn().transform(churn_only).iloc[:, 1:].columns.tolist()

['tenure_months',
 'tenure_segmentation',
 'location',
 'device_class',
 'games_product',
 'music_product',
 'education_product',
 'video_product',
 'any_digital_product',
 'all_digital_product',
 'total_digital_product_used',
 'call_center',
 'use_myapp',
 'total_product_utilisation',
 'payment_method',
 'monthly_purchase_thou_idr_',
 'cltv_predicted_thou_idr_',
 'total_spending',
 'net_cltv_total_spending']

In [12]:
len(col_trans.get_feature_names_out(input_features=TweakCustomerChurn().transform(churn_only).iloc[:, 1:].columns.tolist()))

27

In [13]:
pd.DataFrame(col_trans.fit_transform(TweakCustomerChurn().transform(churn_only).iloc[:, 1:]), 
             columns=col_trans.get_feature_names_out(input_features=TweakCustomerChurn().transform(churn_only).iloc[:, 1:].columns.tolist()))

,net_cltv_total_spending,location_Jakarta,device_class_Low End,device_class_Mid End,games_product_No internet service,games_product_Yes,music_product_No internet service,music_product_Yes,education_product_No internet service,education_product_Yes,video_product_No internet service,video_product_Yes,call_center_Yes,use_myapp_No internet service,use_myapp_Yes,payment_method_Debit,payment_method_Digital Wallet,payment_method_Pulsa,tenure_segmentation,tenure_months,any_digital_product,all_digital_product,total_digital_product_used,total_product_utilisation,monthly_purchase_thou_idr_,cltv_predicted_thou_idr_,total_spending
0,0.257568,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,2.0,2.0,70.00000,4212.0,140.000
1,-0.028931,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,91.93750,3512.0,183.875
2,0.979492,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,8.0,1.0,0.0,2.0,3.0,129.50000,6984.0,1036.000
3,-0.274658,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,28.0,1.0,0.0,2.0,4.0,136.25000,6504.0,3814.000
4,-1.179688,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,49.0,1.0,0.0,3.0,4.0,134.75000,6944.0,6604.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,0.624023,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0,1.0,0.0,1.0,2.0,77.75000,5956.0,933.000
1865,-0.494141,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,9.0,0.0,0.0,0.0,0.0,57.46875,2638.0,517.000
1866,1.440430,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,98.50000,7244.0,98.500
1867,-1.953125,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1.0,1.0,4.0,4.0,133.87500,7304.0,8968.000
1868,1.462891,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,96.75000,7592.0,387.000

In [14]:
transformed_churned = pd.DataFrame(col_trans.fit_transform(TweakCustomerChurn().transform(churn_only).iloc[:, 1:]), 
                                   columns=col_trans.get_feature_names_out(input_features=TweakCustomerChurn().transform(churn_only).iloc[:, 1:].columns.tolist()))

In [21]:
transformed_churned_drop = transformed_churned.drop(columns=["tenure_months", "monthly_purchase_thou_idr_", "cltv_predicted_thou_idr_", "total_spending"])

,net_cltv_total_spending,location_Jakarta,device_class_Low End,device_class_Mid End,games_product_No internet service,games_product_Yes,music_product_No internet service,music_product_Yes,education_product_No internet service,education_product_Yes,video_product_No internet service,video_product_Yes,call_center_Yes,use_myapp_No internet service,use_myapp_Yes,payment_method_Debit,payment_method_Digital Wallet,payment_method_Pulsa,tenure_segmentation,tenure_months,any_digital_product,all_digital_product,total_digital_product_used,total_product_utilisation,monthly_purchase_thou_idr_,cltv_predicted_thou_idr_,total_spending
0,0.257568,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,2.0,2.0,70.00000,4212.0,140.000
1,-0.028931,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,91.93750,3512.0,183.875
2,0.979492,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,8.0,1.0,0.0,2.0,3.0,129.50000,6984.0,1036.000
3,-0.274658,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,28.0,1.0,0.0,2.0,4.0,136.25000,6504.0,3814.000
4,-1.179688,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,49.0,1.0,0.0,3.0,4.0,134.75000,6944.0,6604.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,0.624023,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0,1.0,0.0,1.0,2.0,77.75000,5956.0,933.000
1865,-0.494141,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,9.0,0.0,0.0,0.0,0.0,57.46875,2638.0,517.000
1866,1.440430,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,98.50000,7244.0,98.500
1867,-1.953125,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1.0,1.0,4.0,4.0,133.87500,7304.0,8968.000
1868,1.462891,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,96.75000,7592.0,387.000

In [15]:
def delcorr(df, y=''):
    #delete any x too highly correlated with another x, to avoid collinearity
    
    if y == '':
        #assume 1st column is y
        y = df.columns[-1]
    corv = df.drop(y, axis=1).corrwith(df[y]).rename(y).sort_values(key=abs).to_frame() #corr(Xs, y) ranked

    delta = 0.005 #corr difference lower limit
    dl2 = []
    icorr = True
    while icorr:
        a = abs(corv).diff() <= delta #adjacent rows with similar abs(corr(Xs, y))
        colname = list(df)[1:]
        dl = []
        print('\nX pairs with correlations >', 1 - delta, ':')
        for b in range(1, a.shape[0]):
            if a.iloc[b, 0]:
                if abs(df[a.index[b - 1]].corr(df[a.index[b]])) > 1 - delta:
                    #deleting 1 X from correlated pair:
                    dv0 = a.index[b - 1]
                    dv1 = a.index[b]

                    #neither should already be deleted:
                    if not (dv0 in dl) and not (dv1 in dl):
                        #delete x with rather lower corr(x, y):
                        if abs(corv.loc[dv0, y]) - abs(corv.loc[dv1, y]) >= delta:
                            d = dv1
                        elif len(dv0) < len(dv1): #delete x with longer name:
                            d = dv1
                        else:
                            d = dv0

                        dl.append(d) #for en masse deletion later
                        corv.drop([d], axis=0, inplace=True) #delete from column of corr with y

                        print(dv0, ',', dv1)

        if len(dl) > 0:
            df.drop(axis=1, columns=dl, inplace=True) #variables deleted en masse
            dl2 = dl2 + dl #keep for real deletion later
            print('\n' + str(len(dl)), 'variables considered for deletion:')
            print('\n'.join([str(x) for x in dl]))
        else:
            print('(no more)')
            icorr = False
    return dl2

In [16]:
df0 = transformed_churned.copy()
transformed_churned_remove_multicol = delcorr(df0) #find collinearity deletion candidates among original & transformed variables

X pairs with correlations > 0.995 :
device_class_Low End , games_product_No internet service
music_product_No internet service , education_product_No internet service
video_product_No internet service , use_myapp_No internet service

3 variables considered for deletion:
games_product_No internet service
education_product_No internet service
video_product_No internet service

X pairs with correlations > 0.995 :
device_class_Low End , music_product_No internet service

1 variables considered for deletion:
music_product_No internet service

X pairs with correlations > 0.995 :
device_class_Low End , use_myapp_No internet service

1 variables considered for deletion:
use_myapp_No internet service

X pairs with correlations > 0.995 :
(no more)

In [17]:
transformed_churned_remove_multicol

['games_product_No internet service',
 'education_product_No internet service',
 'video_product_No internet service',
 'music_product_No internet service',
 'use_myapp_No internet service']

In [18]:
df0

,net_cltv_total_spending,location_Jakarta,device_class_Low End,device_class_Mid End,games_product_Yes,music_product_Yes,education_product_Yes,video_product_Yes,call_center_Yes,use_myapp_Yes,payment_method_Debit,payment_method_Digital Wallet,payment_method_Pulsa,tenure_segmentation,tenure_months,any_digital_product,all_digital_product,total_digital_product_used,total_product_utilisation,monthly_purchase_thou_idr_,cltv_predicted_thou_idr_,total_spending
0,0.257568,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,2.0,2.0,70.00000,4212.0,140.000
1,-0.028931,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,91.93750,3512.0,183.875
2,0.979492,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,2.0,8.0,1.0,0.0,2.0,3.0,129.50000,6984.0,1036.000
3,-0.274658,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,28.0,1.0,0.0,2.0,4.0,136.25000,6504.0,3814.000
4,-1.179688,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,49.0,1.0,0.0,3.0,4.0,134.75000,6944.0,6604.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,0.624023,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,12.0,1.0,0.0,1.0,2.0,77.75000,5956.0,933.000
1865,-0.494141,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,9.0,0.0,0.0,0.0,0.0,57.46875,2638.0,517.000
1866,1.440430,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,98.50000,7244.0,98.500
1867,-1.953125,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,1.0,1.0,4.0,4.0,133.87500,7304.0,8968.000
1868,1.462891,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,96.75000,7592.0,387.000

In [19]:
import statsmodels.api as sm

# The dependent variable
Y = StandardScaler().fit_transform(df0['net_cltv_total_spending'].to_frame())

# The independent variables, add a constant to include an intercept in the model
X = transformed_churned.iloc[:, :-1]
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(Y, X).fit()

In [20]:
# Print out the statistics
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 6.558e+25
Date:                Thu, 09 Nov 2023   Prob (F-statistic):               0.00
Time:                        23:56:21   Log-Likelihood:                 48622.
No. Observations:                1869   AIC:                        -9.720e+04
Df Residuals:                    1849   BIC:                        -9.709e+04
Df Model:                          19
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                  7.649e-05    4.1e-13   1.87e+08      0.000    7.65e-05    7.65e-05
net_cltv_total_spending                   1.0001   1.35e-13   7.39e+12      0.000       1.000       1.000
location_Jakarta                      -4.736e-15   6.25e-14     -0.076      0.940   -1.27e-13    1.18e-13
device_class_Low End                  -4.708e-15   5.09e-14     -0.093      0.926   -1.04e-13     9.5e-14
device_class_Mid End                   6.244e-16   1.92e-13      0.003      0.997   -3.76e-13    3.78e-13
games_product_No internet service     -3.948e-15   5.09e-14     -0.078      0.938   -1.04e-13    9.58e-14
games_product_Yes                      1.763e-14    7.1e-14      0.248      0.804   -1.22e-13    1.57e-13
music_product_No internet service     -3.761e-15   5.09e-14     -0.074      0.941   -1.03e-13     9.6e-14
music_product_Yes                      2.501e-14   6.14e-14      0.407      0.684   -9.54e-14    1.45e-13
education_product_No internet service -3.749e-15   5.09e-14     -0.074      0.941   -1.03e-13     9.6e-14
education_product_Yes                 -6.589e-15   6.31e-14     -0.104      0.917    -1.3e-13    1.17e-13
video_product_No internet service     -3.854e-15   5.09e-14     -0.076      0.940   -1.04e-13    9.59e-14
video_product_Yes                     -3.067e-14   6.84e-14     -0.449      0.654   -1.65e-13    1.03e-13
call_center_Yes                       -1.443e-16   6.44e-14     -0.002      0.998   -1.27e-13    1.26e-13
use_myapp_No internet service         -3.698e-15   5.09e-14     -0.073      0.942   -1.03e-13     9.6e-14
use_myapp_Yes                          8.406e-15   6.12e-14      0.137      0.891   -1.12e-13    1.29e-13
payment_method_Debit                  -1.808e-14   1.12e-13     -0.162      0.871   -2.37e-13    2.01e-13
payment_method_Digital Wallet         -3.336e-14   1.14e-13     -0.293      0.770   -2.57e-13     1.9e-13
payment_method_Pulsa                  -2.651e-14   9.22e-14     -0.287      0.774   -2.07e-13    1.54e-13
tenure_segmentation                   -3.925e-14    4.8e-14     -0.818      0.414   -1.33e-13    5.49e-14
tenure_months                         -1.112e-14   6.11e-15     -1.818      0.069   -2.31e-14    8.73e-16
any_digital_product                    3.892e-14   1.07e-13      0.363      0.717   -1.71e-13    2.49e-13
all_digital_product                    1.538e-14    2.4e-13      0.064      0.949   -4.56e-13    4.87e-13
total_digital_product_used             4.454e-15   4.35e-14      0.102      0.919   -8.09e-14    8.98e-14
total_product_utilisation              1.267e-14   3.93e-14      0.322      0.747   -6.44e-14    8.98e-14
monthly_purchase_thou_idr_            -1.258e-15   4.05e-15     -0.310      0.756    -9.2e-15    6.69e-15
cltv_predicted_thou_idr_               9.677e-17   5.44e-17      1.780      0.075   -9.87e-18    2.03e-16
==============================================================================
Omnibus:                      292.023   Durbin-Watson:                   0.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1636.535
Skew:                           0.607   Prob(JB):                         0.00
Kurtosis:                       7.420   Cond. No.                     1.04e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.43e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.